/* Layout */
$mq-sm: 40rem;
$margin-page: 0.5em;
$margin-col: 0.5em;
$sidebar-width: 10em;
$small: 0.8em;

/* Mixins */
@mixin invert {
  mix-blend-mode: difference;
  color: var(--color-fg-inv);
  a,
  .link {
    &:focus,
    &:active,
    &:hover {
      color: var(--color-hov-inv);
    }
  }
}
@mixin sidebar {
  width: 100%;
  @media (min-width: $mq-sm) {
    position: fixed;
    left: 0;
    width: $sidebar-width;
    padding: $margin-col + $margin-page;
    order: 1;
    @include invert;
  }
}
@mixin main {
  width: 100%;
  @media (min-width: $mq-sm) {
    width: 100%;
    order: 2;
    margin-left: auto;
  }
}

/* Set up a baseline environment. */
@import '~easings.scss';
@import './app/typography';
@import './env/helpers/universal';
@import './env/tags/html';
@import './env/tags/body';
@import './env/tags/anchor';
@import './env/tags/lists';
@import './env/tags/form';
@import './env/tags/table';
@import './env/tags/img';

/* Environment helpers & utilities. */

@import './env/helpers/pseudos';

/* App specific styles and theme here. */

@import './app/transitions/default';
@import './app/transitions/slide';
@import './app/layouts/layout';
@import './app/layouts/index';
@import './app/layouts/index-grid';
@import './app/layouts/index-offset';
@import './app/layouts/slug';
@import './app/layouts/page';
@import './app/components/header';
@import './app/components/main';
@import './app/components/footer';
@import './app/components/nextprev';
@import './app/components/customcursor';

$fonts: (
  1: 'Bradford Trial',
  2: 'Bradford Mono Trial',
  3: 'Suisse Works',
  4: 'SF Pro Display',
  5: 'Untitled Serif Test',
  6: 'Untitled Sans Test',
  7: 'Post Grotesk',
);
@function font($font) {
  @return map-get($fonts, $font);
}

/* Global variables below */

:root {
  --bu: calc(0.5vw);

  /*Font familia */
  --font: #{font(3)}, monospace;
  --font-weight: 400;
  --font-2: #{font(3)};

  --font-size: 16px;
  --line-height: 1.1;

  --color-fg: #006f6f;
  --color-fg-inv: #ff9090;
  --color-hov: #ff9090;
  --color-hov-inv: #006f6f;
  --color-bg: #fff;
  --color-border: #ffffff;

  --column-width: 15em;

  --mouse-x: 1px;
  --mouse-y: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #bcadca;
    --color-fg-inv: #006f6f;
    --color-bg: #000;
    --color-border: #ffffff;
  }
}
