/* Typography */
$line-height: 1.5;

/* Layout */
$mq-sm: 40rem;
$margin-page: 1rem;
$margin-col: 1rem;
$sidebar-width: 20%;

@mixin sidebar {
  width: 100%;
  @media (min-width: $mq-sm) {
    position: fixed;
    left: 0;
    width: $sidebar-width;
    order: 1;
  }
}

@mixin main {
  width: 100%;
  @media (min-width: $mq-sm) {
    width: 100% - $sidebar-width;
    order: 2;
    margin-left: auto;
  }
}

/* Set up a baseline environment. */
@import '~easings.scss';
@import './app/typography';
@import './env/helpers/universal';
@import './env/tags/html';
@import './env/tags/body';
@import './env/tags/anchor';
@import './env/tags/lists';
@import './env/tags/form';
@import './env/tags/table';
@import './env/tags/img';

/* Environment helpers & utilities. */

@import './env/helpers/pseudos';

/* App specific styles and theme here. */

@import './app/transitions/default';
@import './app/transitions/slide';
@import './app/layouts/base';
@import './app/layouts/posts';
@import './app/components/header';
@import './app/components/main';
@import './app/components/footer';
@import './app/components/nextprev';

/* Global variables below */

:root {
  --bu: calc(0.5vw);

  /*Font familia */
  --font: 'New York Medium', 'Basis Grotesque Pro', sans-serif;

  --font-size: 12px;
  --line-height: 1.5;

  --color-fg: #000000;
  --color-bg: #fff;
  --color-bg2: #;
  --color-border: #ffffff;

  --column-width: 15em;

  --mouse-x: 1px;
  --mouse-y: 1px;
}
