$mq-sm: 40rem;
$margin-page: 0.5em;
$margin-col: 0.5em;
$sidebar-width: 10em;
$small: 0.8em;
/* Mixins */
@mixin invert {
  mix-blend-mode: difference;
  color: var(--color-fg-inv);
  a,
  .link {
    &:not(.nuxt-link-exact-active) {
      &:active,
      &:hover {
        color: var(--color-hov-inv);
      }
    }
  }
}

@mixin sidebar {
  width: 100%;

  @media (min-width: $mq-sm) {
    position: fixed;
    left: 0;
    width: $sidebar-width;
    padding: $margin-col + $margin-page;
    order: 1;
    @include invert;
  }
}

@mixin main {
  width: 100%;

  @media (min-width: $mq-sm) {
    width: 100%;
    order: 2;
    margin-left: auto;
  }
}

/* Set up a baseline environment. */
@import '~easings.scss';
@import './app/typography';
@import './env/helpers/universal';
@import './env/tags/html';
@import './env/tags/body';
@import './env/tags/anchor';
@import './env/tags/lists';
@import './env/tags/form';
@import './env/tags/table';
@import './env/tags/img';

/* Environment helpers & utilities. */

@import './env/helpers/pseudos';

/* App specific styles and theme here. */

@import './app/transitions/default';
@import './app/transitions/slide';
@import './app/layouts/layout';
@import './app/layouts/index';
@import './app/layouts/index-grid';
@import './app/layouts/index-offset';
@import './app/layouts/slug';
@import './app/layouts/page';
@import './app/components/header';
@import './app/components/main';
@import './app/components/footer';
@import './app/components/nextprev';
@import './app/components/customcursor';

@font-face {
  font-family: 'Suisse Works';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('~assets/fonts/SuisseWorks-Regular-WebXL.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('~assets/fonts/SuisseWorks-Regular-WebXL.woff') format('woff'),
    /* Pretty Modern Browsers */
      url('~assets/fonts/SuisseWorks-Regular-WebXL.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Suisse Works';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('~assets/fonts/SuisseWorks-RegularItalic-WebS.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('~assets/fonts/SuisseWorks-RegularItalic-WebS.woff') format('woff'),
    /* Pretty Modern Browsers */
      url('~assets/fonts/SuisseWorks-RegularItalic-WebS.ttf') format('truetype');
  /* Safari, Android, iOS */
}

/* Global variables below */

:root {
  --bu: calc(0.5vw);

  /*Font familia */
  --font: 'Suisse Works', serif;
  --font-weight: 400;
  --font-2: var(--font);

  --font-size: 14px;
  --line-height: 1.2;

  --color-fg: #006f6f;
  --color-fg-inv: #ff9090;
  --color-hov: #ff9090;
  --color-hov-inv: #006f6f;
  --color-bg: #fff;
  --color-border: #ffffff;

  --column-width: 15em;

  --mouse-x: 1px;
  --mouse-y: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #bcadca;
    --color-fg-inv: #bcadca;
    --color-hov: #006f6f;
    --color-hov-inv: #006f6f;
    --color-bg: #000;
    --color-border: #ffffff;
  }
}
