#page {
  @media (min-width: $mq-sm) {
    display: flex;
    flex-direction: row;
  }
}
#header {
  @include sidebar;
  padding: $margin-col * 2;
}
#content {
  @include main;
  position: relative;
  padding: 0 $margin-page;
  @media (min-width: $mq-sm) {
    padding: $margin-page;
  }
}
