#content.index {
  padding-left: 15%;
  .post {
    padding: $margin-col;
    .post-link {
      display: block;
      margin: 0 auto;
    }
  }
  @media (min-width: $mq-sm) {
    .post {
      .post-link {
        .post-body {
          opacity: 0;
          visibility: hidden;
          z-index: 10;
          min-width: 25em;
          pointer-events: none;
        }
        &.active {
          .post-body {
            transition: opacity 1000ms $ease-in-out-circ,
              visibility 0s linear 1000ms;
          }
          &:hover {
            .post-body {
              opacity: 1;
              visibility: visible;
              transition: none;
              z-index: 20;
            }
          }
        }
      }
    }
  }
}
