/* Structure */
#page {
  @media (min-width: $mq-sm) {
    display: flex;
    flex-direction: row;
  }
}
#header {
  @include sidebar;
  z-index: 5;
}
#content {
  @include main;
  position: relative;
  padding: 0 $margin-page;
  @media (min-width: $mq-sm) {
    padding: $margin-page;
  }
}
/* Posts */
#content {
  .post-body {
    @include sidebar;
    padding: $margin-col 0;
    white-space: nowrap;
  }
  @media (min-width: $mq-sm) {
    .post-body {
      bottom: calc(var(--line-height) * 1em);
    }
  }
}

.count {
  font-style: normal;
  // font-variant-numeric: tabular-nums lining-nums;
  font-size: $small;
  margin-left: 0.125em;
  span {
    display: inline-block;
    text-align: center;
    width: 0.5em;
  }
}
