/* Structure */
#page {
  @media (min-width: $mq-sm) {
    display: flex;
    flex-direction: row;
  }
}
#header {
  @include sidebar;
  padding: $margin-col * 2;
  z-index: 5;
}
#content {
  @include main;
  position: relative;
  padding: 0 $margin-page;
  @media (min-width: $mq-sm) {
    padding: $margin-page;
  }
}
/* Posts */
#content {
  .post-body {
    @include sidebar;
    padding: $margin-col 0;
    // white-space: nowrap;
  }
  @media (min-width: $mq-sm) {
    .post-body {
      padding: $margin-col * 2;
      bottom: 0;
    }
  }
}

.count {
  font-style: normal;
  // font-variant-numeric: tabular-nums lining-nums;
  font-size: $small;
  white-space: nowrap;
  margin-left: 0.125em;
  span {
    display: inline-block;
    text-align: center;
    width: 0.5em;
  }
}
.before-enter {
  opacity: 0;
  transition: all 1.3s ease;
}

.enter {
  opacity: 1;
}
