.post-body {
  @include sidebar;
  padding: $margin-col 0;
}
.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .grid-item {
    padding: $margin-col;
    > a {
      display: block;
      // max-width: calc(var(--column-width) * 0.75);
      margin: 0 auto;
    }
  }
}
@media (min-width: $mq-sm) {
  .post-body {
    padding: $margin-col * 2;
    bottom: 0;
    z-index: 10;
  }
  .layout-grid {
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
    .post-link {
      .post-body {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1000ms $ease-in-out-circ,
          visibility 0s linear 1000ms;
        background: var(--color-bg);
      }
      &:hover {
        .post-body {
          opacity: 1;
          visibility: visible;
          transition: none;
          z-index: 20;
        }
      }
    }
  }
}

.slug {
  .post-body {
    padding: $margin-col;
  }
  .post-media {
    text-align: center;
    figure {
      z-index: 2;
      position: relative;
      img {
        max-height: 100%;
        width: auto;
        margin: auto;
      }
    }
  }
}
@media (min-width: $mq-sm) {
  .slug {
    .post-body {
      padding: $margin-col * 2;
    }
    .post-media {
      text-align: center;
      figure {
        height: calc(100vh - #{$margin-page * 2});
        min-height: 40rem;
        z-index: 2;
        position: relative;
        cursor: zoom-in;
        img {
          max-height: 100%;
          width: auto;
          margin: auto;
        }
        &.zoom {
          cursor: zoom-out;
          z-index: 6;
          img {
            position: absolute;
            margin: auto;
            max-width: none;
            max-height: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform: translate(
              calc(var(--mouse-x) * -1),
              calc(var(--mouse-y) * -1)
            );
          }
        }
      }
    }
  }
}
