#content.slug {
  .post-media {
    text-align: center;
    figure {
      z-index: 2;
      position: relative;
      img {
        max-height: 100%;
        width: auto;
        margin: auto;
      }
    }
  }
  @media (min-width: $mq-sm) {
    .post-body {
      z-index: 10;
    }
    .post-media {
      text-align: center;
      figure {
        height: calc(100vh - #{$margin-page * 2});
        // min-height: 40rem;
        z-index: 2;
        position: relative;
        cursor: zoom-in;
        > * {
          max-height: 100%;
          width: auto;
          margin: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        img {
          width: auto !important;
          margin: auto !important;
        }
        &.zoom {
          cursor: zoom-out;
          z-index: 6;
          width: 100vw;
          height: 100vh;
          min-height: 0;
          margin: -$margin-page;
          overflow: hidden;
          > * {
            position: absolute;
            max-width: none;
            max-height: none;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
          }
          img {
            pointer-events: none;
            transform: translate(-50%, -50%);
            transform: translate(
              calc(var(--mouse-x) * -1),
              calc(var(--mouse-y) * -1)
            );
            max-width: none;
            max-height: none;
          }
        }
      }
    }
  }
}
