#header {
  z-index: 5;
  nav {
    padding: $margin-col * 2;
    .menu {
      opacity: 0;
      max-height: 0px;
      height: auto;
      overflow: hidden;
      transition: opacity 1000ms $ease-in-out-circ, max-height 0s linear 1000ms;
      li {
        width: 100%;
        display: block;
        clear: both;
      }
    }
    &:hover {
      .menu {
        opacity: 1;
        max-height: 100vh;
        transition: none;
      }
    }
  }
}
