#header {
  nav {
    li {
      display: inline;
      width: auto;
      &:not(:last-child) {
        &:after {
          content: ', ';
        }
      }
      &#root {
        &:after {
          content: ': ';
        }
      }
    }
    &:hover {
      ul.menu {
        a {
          opacity: 1;
          transition: opacity 100ms $ease-in-out-circ;
          &.nuxt-link-active:not(.nuxt-link-exact-active) {
            &:before {
              opacity: 1;
              transition: opacity 100ms $ease-in-out-circ;
            }
          }
        }
      }
    }
  }
  @media (min-width: $mq-sm) {
    nav {
      ul {
        height: 100%;
        height: calc(75vh - #{$margin-col * 4});
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      li {
        width: 100%;
        display: block;
        clear: both;
        &:not(:last-child),
        &#root {
          &:after {
            content: '';
          }
        }
      }
      a {
        position: relative;
        &:before {
          content: '\21B0';
          position: absolute;
          width: $margin-col * 2;
          left: 0;
          top: calc(var(--line-height) * -1rem);
          opacity: 0;
          transition: opacity 1000ms $ease-in-out-circ;
        }
        &:not(.nuxt-link-active) {
          opacity: 0;
          transition: opacity 1000ms $ease-in-out-circ;
        }
      }
    }
  }
}
