.post-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

  a {
    position: absolute;
    z-index: 4;
    width: 33%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
    top: 0;
    left: 0;
    &.prev {
      cursor: w-resize;
    }
    &.next {
      cursor: e-resize;
      margin-left: auto;
      right: 0;
      left: auto;
    }
  }
}
