.post-nav {
  @include sidebar;
  z-index: 10;
  a {
    position: relative;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 1em;
    float: left;
    &:after {
      text-indent: 0;
      float: left;
    }
    &.prev {
      &:after {
        content: '\2190';
      }
    }
    &.next {
      &:after {
        content: '\2192';
      }
    }
  }
  @media (min-width: $mq-sm) {
      bottom: 0;
  }
}
