a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: edges;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
  text-rendering: optimizelegibility;
  outline: 0;
  &:focus,
  &:active,
  &:hover {
    color: var(--color-hov);
    outline: 0;
  }

  &.nuxt-link-exact-active {
    cursor: default;
  }
}

.link {
  cursor: pointer;
}

.close {
  text-indent: -100%;
  line-height: 0;
  &:after {
    content: '\21B0';
    display: inline;
    text-indent: 0;
  }
}
