a,
.link {
  cursor: pointer;
  color: currentColor;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: edges;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
  text-rendering: optimizelegibility;
  outline: 0;
  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }
  &:active,
  &:hover {
    color: var(--color-hov);
    outline: 0;
  }
  &.nuxt-link-exact-active {
    cursor: default;
    // color: var(--color-fg);
  }
}
