a {
  color: currentColor;
  text-decoration: none;
  text-rendering: optimizelegibility;
  outline: 0;
  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  &:hover {
    border-radius: 50%;
  }
}
