body {
  font-size: calc(var(--font-size) + var(--bu));
  font-family: var(--font);
  font-smooth: always;
  font-weight: var(--font-weight);
  font-style: normal;
  font-synthesis: none;
  font-stretch: normal;
  font-variant: no-common-ligatures proportional-nums slashed-zero;
  font-kerning: normal;
  text-rendering: geometricPrecision; /* Why not: text-rendering: optimizeSpeed;?… in light of PWA. */
  font-display: swap;
  font-display: optional;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;

  line-height: var(--line-height);

  /* Set your colors + contrast over here. */
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-color: var(--color-border);
  transition: color 250ms $ease-in-out-circ,
    background-color 250ms $ease-in-out-circ,
    border-color 250ms $ease-in-out-circ;

  /* Dimensions */
  border: none;
  min-height: 100vh;

  /* Behavior */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  touch-action: auto;
}
