/* Make images easier to work with… */

img {
  max-width: 100%;
  display: block;
  border: none;
  box-shadow: none;
}

/* SVG filter for blurring placeholder images */
.svgBlur {
  -webkit-filter: url('#sharpBlur');
  filter: url('#sharpBlur');
}
.svgFilter {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
